<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CrystalCastle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- bootstrap -->
<link id="pagestyle" rel="stylesheet" href="css/solar-bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="http://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- custom -->
<script src="js/header.js"></script>

<header class="sticky header header-js sticky--top bg-dark text-secondary">
  <div class="col-xs-1 m-1" align="center"><a id="nolink" href="/">
    <pre class="mx-auto p-2" style="line-height: 100%; overflow: hidden;">
  ▄▄· ▄▄▄   ▄· ▄▌.▄▄ · ▄▄▄▄▄ ▄▄▄· ▄▄▌   ▄▄·  ▄▄▄· .▄▄ · ▄▄▄▄▄▄▄▌  ▄▄▄ .
▐█ ▌▪▀▄ █·▐█▪██▌▐█ ▀. •██  ▐█ ▀█ ██•  ▐█ ▌▪▐█ ▀█ ▐█ ▀. •██  ██•  ▀▄.▀
 ██ ▄▄▐▀▀▄ ▐█▌▐█▪▄▀▀▀█▄ ▐█.▪▄█▀▀█ ██▪  ██ ▄▄▄█▀▀█ ▄▀▀▀█▄ ▐█.▪██▪  ▐▀▀▪▄
 ▐███▌▐█•█▌ ▐█▀·.▐█▄▪▐█ ▐█▌·▐█ ▪▐▌▐█▌▐▌▐███▌▐█ ▪▐▌▐█▄▪▐█ ▐█▌·▐█▌▐▌▐█▄▄▌
·▀▀▀ .▀  ▀  ▀ •  ▀▀▀▀  ▀▀▀  ▀  ▀ .▀▀▀ ·▀▀▀  ▀  ▀  ▀▀▀▀  ▀▀▀ .▀▀▀  ▀▀▀</pre></a>
  </div>
</header>

<style>
#nolink:hover {
    text-decoration: none;
}
</style>
